nav {
  position: fixed;
  width: 100%;
  max-height: 54px;
  background-color: $blue;
  color: $white;
  text-transform: uppercase;
  z-index: 9999;

  a {
    line-height: 54px;
    vertical-align: middle;
    color: $white;
  }

  .shadow {
    display: none;
  }
}

.shadow {
  position: relative;
  top: 0;
  margin-bottom: -12px;
  height: 12px;
  background-image: url("../images/shadow.png");
  background-repeat: repeat-x;
  background-size: 1px 12px;
  z-index: 9998;

  &.show {
    display: inherit;
  }
}
